<style>


</style>

Welcome TO Timer World

<br><br>
<countdown style="font-size: 22px;" [config]="{leftTime:30}"></countdown>
<br>
<countdown style="font-size: 22px;" [config]="{leftTime:3600}"></countdown>
<br>
<countdown style="font-size: 22px;" #count [config]="{leftTime:20, demand:true} "></countdown>
<button style="font-size: 22px;" (click)="count.resume()">Resume</button>
<button style="font-size: 22px;" (click)="count.pause()">Pause</button>
<button style="font-size: 22px;" (click)="count.stop()">Stop</button>
<button style="font-size: 22px;" (click)="count.restart()">Re-Start</button>

<router-outlet></router-outlet>